.footer {
  text-align: center;
  color: var(--textcolor);
  background: var(--thirdcollor);
}
:root {
  --backgroundcolor: #d9d9d9;
  --textcolor: #ffffff;
  --primarycolor: #d0417e;
  --secondarycolor: #0000008f;
  --thirdcollor: #010101;
  --extracolor: #cccccc;
}
html {
  height: 100vh;
  width: 100%;
}
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/*  Large devices (desktops, 992px and up)
 */
@media (min-width: 992px) {
}

/*  X-Large devices (large desktops, 1200px and up)
 */
@media (min-width: 1200px) {
}

/*  XX-Large devices (larger desktops, 1400px and up)
 */
@media (min-width: 1400px) {
}
.head-1 {
  font-size: 36px;
  line-height: 44px;
}
.head-2 {
  font-size: 32px;
  line-height: 40px;
}
.head-3 {
  font-size: 28px;
  line-height: 36px;
}
.head-4 {
  font-size: 24px;
  line-height: 32px;
}
.head-5 {
  font-size: 20px;
  line-height: 28px;
}
.head-6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.label-d {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-t {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-m {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.text-d {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.text-t {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.text-m {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
