/*variable para colores*/
:root {
    --backgroundcolor: #d9d9d9;
    --textcolor: #ffffff;
    --primarycolor: #d0417e;
    --secondarycolor: #0000008f;
    --thirdcollor: #010101;
    --extracolor: #cccccc;
}

body {
    font-family: 'Roboto Mono', monospace;
}

#logo {
    margin-top: 5px;
    margin-left: 20px;
    width: 100px;
}

p {
    text-align: center;
    font-size: small;
    color: rgb(122, 119, 119);
}

.btn-toggle,
.login-boton {
    padding: 0;
    color: #d0417e;
    background: none;
    border: none;
}

.visibilty {
    display: none;
}

.btn-modalview {
    padding: 0;
    color: #d0417e;
    background: none;
    border: none;
}

.btn-modalview:hover {
    padding: 0;
    color: #d0417e;
    background: none;
    border: none;
}

.btn-3:hover {
    color: var(--primarycolor);
    font-weight: 700;
    background: #ffffff33;
    border: 1px solid var(--primarycolor);
    box-shadow: 0 4px 4px 0 rgba(208, 65, 126, 0.5);
}

.btn-3 {
    width: 100%;
    color: var(--textcolor);
    font-weight: 700;
    background: var(--primarycolor);
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 4px 0 #75757580;
}

.btn-3:first-child:active {
    transform: scale(1.2);
    color: var(--primarycolor);
    font-weight: 700;
    background-color: #c9c9c9;
    border: 1px solid var(--primarycolor);
    box-shadow: 0 4px 4px 0 #75757580;
}

#red {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.324);
    /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color de sombra */
    padding: 6px 100px;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    text-align: justify;
    border-color: rgba(0, 0, 0, 0.197);
}

#red:hover {
    background-color: rgba(0, 0, 0, 0.153);
}

.topmodal {
    display: inline;
}

#botonCerrar {
    position: absolute;
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.valid-tooltip {
    background-color: #d0417e;
}

/*.modal-visible {
    visibility: visible;
    display: contents;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.324);
}*/