
.contenedorPortadaAcercaDeNosotros{
    width: 100%;
    height: 435px;
}
#contenidoAcercaDeNosotros{
    position: relative;
}

.textoTituloAcercaDeNosotros{
    font-family:Roboto Mono;
    font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
margin-top: 25px;
}
#textoYParrafoAcercaDeNosotros1{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 43px;
width: 70%;
}
#contenedorParrafo1{
    width: 100%;
    height: fit-content;
    margin-left: 43px;
    text-align: justify;
}
#contenedorParrafo2{
    object-fit:cover;
    width: 100%;
    height: fit-content;
    margin-left: 43px;
    text-align: justify;
}
#tituloAcercaDeNosotros{

}

#textoYParrafoAcercaDeNosotros2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 43px;
    width: 53%;
    height: fit-content;
}

#contenedorImagenesSemiCirculares{
    position: absolute;
    width: 365px;
    height: 365px;
    top: 80px;
    right: 2%;

}
#contenedorImagenSemiCircular1{
width: 55%;
height: 55%;    
position: absolute;
top: 0px;
right: 0px;


}
#contenedorImagenSemiCircular2{
    width: 55%;
    height: 55%;
    position: absolute;
    top: 190px;
    left: -40px;

}

.contenedorImagenSemiCircular{
    position: relative;

}

#semiCirculo1{
    position: absolute;
    
    object-fit: fill;
    width: 100%;
    height: 100%;
}
#semiCirculo2{
    position: relative;
   
    object-fit: fill;
    width: 100%;
    height: 100%;

}


.textoAcercaDeNosotros{
font-family: Roboto Mono;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
object-fit: cover;
}


.contenedorPortadaAcercaDeNosotros img{
object-fit: cover;
height: 100%;
width: 100%;
}

#contenedorTituloAcercaDeNosotros{
    display: flex;
    justify-content: center;
}
#tituloAcercaDeNosotros{
    font-size: 23px;
}

.contenedorDelContenidoAcercaDeNosotros{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
}
.contenedorTarjetaPresentacionIntegrantes{
    padding: 3px;
    width: 300px;
    margin: 30px;
 
}
#contenedorTarjetasPresentacion{
    /* margin: auto; */
    padding: 0px;
     /* margin-left: 140px;  */
     width: fit-content;
} 
#filaIntegrantes{
    justify-content: center;
}
.contenidoAcercaDeNosotros{
   display: flex;
   flex-direction: column;
   position: relative;
   width: fit-content;
   /* border: 3px solid #D0417E; */
   border-radius: 13px;
    /* background-color: #D9D9D9; */
}
.contenedorRedDeContacto{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.linkRedContacto{
    text-decoration: none;
    color: black;
    font-family: Roboto Mono;
    display: flex;

    object-fit: fill;
    width: 100%;
    height: 100%;
}

.contenedorLogo {
    width: 16px;
    height: 16px;
}
.contenedorLogo img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: flex;
}
#contenedorlogoGmail{
    display: flex;
    height: 12px;
    width: 14px;
    
}
#contenedorlogoLinkedin{
    display: flex;
    height: 14px;
    width: 16px;
    padding-right: 2px;
}

.contenedorLogo a img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.contenedorTextoPresentacion{
    color: black;
    font-family: Roboto Mono;
    height: fit-content;
    display: flex;
    
  align-items: center;

}
.textoPresentacion{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.textonormal{
    color: black;
    font-family: Roboto Mono;
}
.contenedorImgIntegrante{
display: flex;
align-items: center;
justify-content:center;
/* background-color: #D9D9D9; */
/* border-bottom: solid 3px #D0417E; */
height: 90px;
width: 90px;

}
.contenedorImgIntegrante img{
    /* background-color: #D9D9D9; */
    object-fit: fill;
    height: 100%;
    width: 100%;    
    }
    #contenedorTextopresentacionNombre{
        border-bottom: 3px solid #D0417E;
    }
    
    @media screen and (max-width: 991px) {
        /* #contenedorTarjetasPresentacion{
            
             margin-left: 40px; 
        }  */
        #textoYParrafoAcercaDeNosotros1{
            margin-left: 10px;
            width: 95%;
            }
            #contenedorParrafo1{
                width: 100%;
                margin-left: 0px;
            }
            #contenedorParrafo2{
                
                width: 100%;
                margin-left: 0px;

            }
            #textoYParrafoAcercaDeNosotros2{

                margin-left: 10px;
                width: 95%;
            }
            #contenedorImagenesSemiCirculares{
                visibility: hidden;
            }

    }

