/*variable para colores*/
:root {
	--backgroundcolor: #d9d9d9;
	--textcolor: #ffffff;
	--primarycolor: #d0417e;
	--secondarycolor: #0000008f;
	--thirdcollor: #010101;
	--extracolor: #cccccc;
}
html {
	height: 100%;
	width: 100%;
}
.oculto {
	display: none;
}
.envio-completado {
	color: var(--primarycolor);
}
input,
input:focus-visible {
	outline: none;
	border: none;
}
.header-main {
	height: 200px;
	background-color: #d0417e;
	text-align: center;
	margin-bottom: 20px;
}
h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	background-color: var(--textcolor);
	max-width: 1440px;
	margin: 0 auto;
}

/*contenedores principales*/
.box-container {
	/*     display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%; */
	padding: 0 16px;

	box-sizing: border-box;
	margin: 40px 0;
}
.box-contacto {
	gap: 0.5rem;
}
/*css para sidebar*/

.contacto-sidebar {
	/* 	width: 100%;
 */
	max-width: 100%;
}

.contacto-sidebar-title {
	margin-bottom: 20px;
	width: 100%;
}
.contacto-sidebar-title-h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	line-height: 44px;
	color: var(--primarycolor);
}
.contacto-sidebar-text {
	display: none;
}
.contacto-sidebar-text p {
	text-align: left;
}
.contacto-sidebar-content {
	display: none;
}

/* css para formulario*/

.contacto-form {
	max-width: 100%;
}
.tel-input {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
}
.form-label {
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}
.form-tel-icon {
	background-color: #f8f9fa;
	border-radius: 0.375rem 0 0 0.375rem;
}

.form-control-input {
	border-left: none;
}
.form-control,
.form-select,
.form-check-input {
	resize: none;
	border: 1px solid var(--thirdcollor);
}
.form-check-input:checked {
	background-color: var(--primarycolor);
	border-color: var(--primarycolor);
}

.form-check-input:checked,
.form-control:focus,
.form-check-input:focus,
.form-select:focus {
	resize: none;
	box-shadow: none;
	border: 1px solid var(--primarycolor);
}

.btn-3:hover {
	color: var(--primarycolor);
	font-weight: 700;
	background: #ffffff33;
	border: 1px solid var(--primarycolor);
	box-shadow: 0 4px 4px 0 rgba(208, 65, 126, 0.5);
}
.btn-3 {
	width: 100%;
	color: var(--textcolor);
	font-weight: 700;
	background: var(--primarycolor);
	border: 1px solid #f1f1f1;
	box-shadow: 0 4px 4px 0 #75757580;
}
.btn-3:first-child:active {
	transform: scale(1.2);
	color: var(--primarycolor);
	font-weight: 700;
	background-color: #c9c9c9;
	border: 1px solid var(--primarycolor);
	box-shadow: 0 4px 4px 0 #75757580;
}

/*css for iconIcon*/
.icon-agent {
	color: var(--primarycolor);
}
.icon-sm {
	width: 16px;
	height: 16px;
}
.icon-xl {
	font-size: 32px;
}
.icon-2xl {
	font-size: 36px;
}
.icon-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.icon-fill {
	font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.footer {
	text-align: center;
	color: var(--textcolor);
	background: var(--thirdcollor);
}

/*font sizes*/

.head-1 {
	font-size: 36px;
	line-height: 44px;
}
.head-2 {
	font-size: 32px;
	line-height: 40px;
}

.head-4 {
	font-size: 24px;
	line-height: 32px;
}
.head-5 {
	font-size: 20px;
	line-height: 28px;
}
.head-6 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.label-d {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.label-t {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.5px;
}

.label-m {
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.5px;
}

.text-p {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
}

/*Medias queries*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.btn-3 {
		width: 80%;
	}

	.contacto-form {
		border-radius: 10px;
		box-shadow: 0 0 5px 2px var(--secondarycolor);
		box-sizing: border-box;
		padding: 10px;
		overflow: hidden;
	}
	.box-container {
		padding: 0 32px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.text-p {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.25px;
	}
	.head-3 {
		font-size: 18px;
		line-height: 26px;
	}
	.box-contacto {
		gap: 1rem;
	}

	.contacto-form,
	.message-sent {
		max-width: 58%;
		padding: 20px;
	}

	.contacto-sidebar-text {
		display: block;
	}
	.contacto-sidebar-content {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 80px;
	}
}

/*  Large devices (desktops, 992px and up)
 */
@media (min-width: 992px) {
	.text-p {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.5px;
	}
	.head-3 {
		font-size: 28px;
		line-height: 36px;
	}
}

/*  X-Large devices (large desktops, 1200px and upx)
 */
@media (min-width: 1200px) {
	.box-contacto {
		gap: 2rem;
	}
	.box-container {
		padding: 0 72px;
	}
}

/*  XX-Large devices (larger desktops, 1400px and up)
 */
@media (min-width: 1400px) {
}
