<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/burguerMenuAnimacionStyle.css">
</head>

<body>
    
        <div class="menuBurguerContenedor">
                <span class="barraMenu1"></span>
                <span class="barraMenu2"></span>
                <span class="barraMenu3"></span>
        </div>
    <script src="../scripts/animacionMenuHamburguesa.js"></script>
</body>

</html>